/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import url('fonts.css');
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-size: 32px;
  font-weight: 800;
}
.logo .soft{
  font-weight: 800;
}
.logo .dottxt{
  font-weight: 200;
}
.logo .dot{
  color: red;
  font-size: 72px;
  line-height: 0;
}

.message{
  background: #242a2f;
  padding: 20px;
  height: 230px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Investment Calculator styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

#user-input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

#result {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 1rem;
  color: #077b4e;
}

#result thead th, #result tbody td {
  padding: 5px 10px;
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  color: #000000;
}

.center {
  text-align: center;
}

/* Investment Calculator styles */